.user {
    background-color: $Gris_claro;
    text-align: center;
    &__intro{
        margin-top: 1.25rem;
        margin-bottom: 3.75rem; //60px/16
        line-height: 1.5;
            @include breakpoint-up(large){ // para modificar el ancho del titulo y descripcion de la seccion
                font-size: 1.25rem;
                line-height: 1.5;
            p {
                width: 70%;
                transform: translate(21%);
                text-align: center;
            }
        }
    }
    &__image{
        img {
            border-radius: 50px;
            width: 90%; // 140px/16=8.75rem
            height: 80%; // 40px/16=2.5
            //margin-bottom: 1.25rem;//20px/16
            @include breakpoint-up(large){
                width: 60%; // 140px/16=8.75rem
                height: 100%; // 40px/16=2.5
                //margin-bottom: 1.875rem;//30px/16
            }
        }
    }
    
}