.footer{
    background-color: $Verde_ultra_claro;
    color: $Gris_oscuro;
    text-align: center;
    padding: 1.25rem;//40px/16
    //font-size: 2rem;
    
    .container{
        @include breakpoint-up(large){
            display: grid;
            grid-template-columns:repeat( 4, 1fr);
            grid-template-rows: repeat( 2, 1fr);
            grid-template-areas: 
            "logo links1 links2 btn"
            "social links1 links2 copyright";
            //justify-items: start;
            gap: 1rem;
        }
    }
    a {
        color: $Gris_oscuro;
    }
    &__logo{
        display: block;
        img{
            width: 40%;
            height: 40%;
        }
        &:hover{
            opacity: 0.5;
            cursor: pointer;
            transition: color 300ms ease-in-out;
            transition: opacity 300ms ease-in-out;
        }
        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;//30px/16
        }
        @include breakpoint-up(large){
            grid-area: logo;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__social{
        
        display: inline-block;
        justify-self: center;
        align-self: end;
        line-height: 1;
        
        a:not(:last-child) {
            margin-right: 1rem;
        }
        a {
            img{
                width: 6%;
                height: 100%;
            }
            &:hover{
                opacity: 0.5;
                cursor: pointer;
                transition: color 300ms ease-in-out;
                transition: opacity 300ms ease-in-out;
            }
        }

        @include breakpoint-up(large){
            grid-area: social;
            align-self: end;
            a{
                img{
                    width: 15%;
                    height: 100%;
                }
            } 
            
        }
        
    }
    &__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $Tam-peq; //25px/16
        font-weight: 700;
        
        @include breakpoint-up(large){
            justify-content: space-between;
            font-size: 1.25rem;
        }
        &.col1{
            @include breakpoint-up(large){
                grid-area: links1;
            }
            a{
                &:hover{
                opacity: 0.5;
                cursor: pointer;
                transition: color 300ms ease-in-out;
                transition: opacity 300ms ease-in-out;
                }
            }
        }
        &.col2{
            //margin-bottom: 1.875rem;//30px/16
            
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;//30px/16
            }
            @include breakpoint-up(large){
                grid-area: links2;
            }
            a{
                &:hover{
                opacity: 0.5;
                cursor: pointer;
                transition: color 300ms ease-in-out;
                transition: opacity 300ms ease-in-out;
                }
            }

        }
        a {
            line-height: 3;
        }
    }
    &__btn{
        font-size: $Tam-peq;
        a.button{
            //margin-bottom: 1.875rem;//30px/16
            color: $Blanco;
        }
        @include breakpoint-down(medium){
            a.button{
                margin-bottom: 1.875rem;//30px/16
            }
        }
        @include breakpoint-up(large){
            grid-area: btn;
            //text-align: right;
            justify-self: end;
            align-self: center;
            font-size: 1rem;
        }
        
    }
    &__copyright{
        font-size: $Tam-peq;
        @include breakpoint-up(large){
            grid-area: copyright;
            text-align: right;
            justify-self: end;
            align-self: center;
            font-size: 1rem;
        }
    }
}