.features {
    background-color: $Verde_ultra_claro;
}

.feature {
    
    // &__content{

    // }
    &__grid{ //ajustes de la cuadricula
        text-align: center;
        display: grid;
        grid-template-columns: 1fr; //crea de forma "auto" las columnas del mismo tamaño
        gap: 1.875rem; //30px/16
        /*p {la siguiente funcion no es recomendable al cambiar de tamaño 
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); //crea de forma "auto" las columnas del mismo tamaño de acuerdo al navegador
            }*/
        
            // de la siguiente forma hay mas control sobre las columnas !!!
        @include breakpoint-up(medium){
            grid-template-columns: repeat(2, 1fr); // 2 columnas de igual tamaño
        }
        @include breakpoint-up(large){
            grid-template-columns: repeat(4, 1fr); // 4 columnas de igual tamaño
        }
    }
    &__item{//ajustes para el objeto
        background-color: $Blanco;
        border-radius: 0.9375rem; //15px/16
        overflow: hidden; // esto se hace para que la funcion de border-radius se muestre
        box-shadow: 0rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.6); //positionH positionV spread color
        transition: all 200ms ease-in-out;
        &:hover{
            transform: scale(1.1); //tamaño cuando se pase el mouse
        }

    }
    &__image{//ajustes para la imagen
        height: 12.5rem;//200px/16
        background-size: cover; // para cubrir toda el area del <div>
        background-repeat: no-repeat;
        background-position: center center;  
    }
    &__text{//ajustes generales del texto
        padding: 1.875rem 1.875rem 2.5rem 1.875rem; //top30px-right30px-bottom40px-left30px 
        color: $Gris_oscuro;
        @include breakpoint-up(medium){
            padding: 1.875rem 1.5625rem; //top&botton30px right&left25px
        }

    }
    &__author{//ajustes para el nombre superior
        font-size: 0.625rem;//10px/16
        font-weight: 700;
        padding-bottom: 0.625rem;
    }
    &__title{//ajustes del titulo
        font-size: 1.25rem;//20px/16
        line-height: 1;
        font-weight: 700;
        color: $Madera;
        padding-bottom: 0.625rem;
        
        @include breakpoint-up(medium){
            font-size: 1.875rem;//30px/16
        }
    }
    &__description{//ajustes del texto
        text-align: justify;
        font-size: 0.9375rem;//15px/16
        line-height: 1.5;
    }
}