.hero { // esta es la primera seccion del contenido de la pagina

    background-color: $Verde_ultra_claro;
    .container{
        @include breakpoint-up(large){ //caracteristica de la imagen en escritorio
            display: flex;
            align-items: center;
            } 
    }
    
    &__image {//la primera imagen del body
        border-radius: 500px;
        position: relative;
        background-image: url('/Images/lago.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
    
        @include breakpoint-up(medium){//condiciones para pantalla tipo tableta
          min-height: 25rem;
          background-position: center;
          
        }
    
        @include breakpoint-up(large){//condiciones para escritorio
          flex: 3;
          order: 2;
          height: 41rem;
          background-image: none;
          //background-image: url('/Images/lago.jpg');
          //background-position: left center;
        }
    
        &::before { 
    
          @include breakpoint-up(large){
            content: "";
            position: absolute;
            height: 100%;       
            background-repeat: no-repeat;
            background-position: center bottom;
            width: 150%;
            background-size: 122%;
            background-position: 0% 83%;
          }
        }
    
        &::after {
          border-radius: 100px;
          content: "";
          position: absolute;
          background-size: 93%;
          background-repeat: no-repeat;
          background-position: center bottom;
    
          @include breakpoint-up(medium){//condiciones para pantalla tipo tableta
            width: 100%;
            background-size: 100%;
            background-image: url('/Images/lago.jpg');
          }
    
          @include breakpoint-up(large){//condiciones para escritorio
            width: 120%;
            height: 105%;
            background-image: url('/Images/lago.jpg');
            background-size: 190%;
            background-position: center;
            left: -23%;
          }
        }
      }
    &__text { // Caracteristicas del texto dentro de Body
        text-align: center;

        @include breakpoint-up(large){
            flex: 2;
            order: 2;
            //text-align: center;
            font-size: 1.25rem;
        }
        p {
          text-align: center;
        } 

    }
    &__links {
      a {
        position: relative;
        font-size: $Tam-grd; 
        font-weight: 500;
        padding: 0.675rem 1.475rem; // tamaño del boton
        border-radius: 15px; // curvatura del boton
        cursor: pointer; //mostrar el cursos
        background: radial-gradient(circle at 80%, $Verde_hoja_oscuro 80%,  $Verde_hoja_claro 20%); //color del boton
        border: 0;
        color: $Blanco;
        transition: color 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
       
        /*&::before {
          position: absolute;
          content: "";
          display: block;
          border-radius: 50px;
          height: 5px;
          left: 0;
          right: 0;
          bottom: -15px;
          background: radial-gradient(circle at 80%, $Azul_claro 50%, $Azul_oscuro 50%);
          opacity: 0;
          transition: opacity 250ms ease-in-out;
        }*/
        &:hover{ // Color al pasar el cursor por encima
          color: $Verde_hoja_claro;
          opacity: 0.75;
          cursor: pointer;
        }
      }
    }
}